<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CIH : Fortnite</title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menu.ejs %>
    <div class="mn_cp_top">
      <h1 id="mn_lin" style="margin-bottom:20px;">Apex legends Players</h1>
      <div class="row" id="ap_bg">
        
      </div>
    </div>
    <% include footer.ejs %>
  </body>
</html>
