<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CIH : Contact us</title>
    <% include header.ejs %>
  </head>
  <body>
      <% include menu.ejs %>
    <div class="container center_div" id="fr_mn">
      <form class="fr_cont" method="POST" action="/success">
        <h1 style="font-weight:700;"><span class="trn">Contact us</span></h1>
        <p><span class="trn">please put a valid email address so that we can respond to it</span></p>
        <div class="mn_f">
          <p id="er_mn"><span class="trn"></span></p>
        </div>
  <div class="form-group">
    <label for="exampleFormControlInput1"><span class="trn">username</span></label>
    <input type="name" class="form-control bg-dark text-white" id="username" placeholder="name/username..." name="username">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1"><span class="trn">Email address</span></label>
    <input type="email" class="form-control bg-dark text-white" id="email" placeholder="name@example.com" name="email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><span class="trn">Message</span></label>
    <textarea class="form-control bg-dark text-white" id="message" placeholder="your message..." rows="12" name="subject"></textarea>
  </div>
  <button type="submit" class="btn btn-primary bg-dark" id="fr_sb"><span class="trn">Submit</span></button>
</form>
  </div>
      <% include footer.ejs %>
  </body>
</html>
