<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CIH : Error</title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menu.ejs %>
    <div class="er_mn">
      <h1>oops something went wrong</h1>
      <img src="/images/error.png" alt="error">
      <a href="/home" class="nav-link">Return home</a>
    </div>
    <% include footer.ejs %>
  </body>
</html>
