<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CIH : Error</title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menu.ejs %>
    <div class="er_mn">
      <h1><span class="trn">oops something went wrong</span></h1>
      <img src="/images/error.png" alt="error">
      <a href="/home" class="nav-link"><span class="trn">Return home</span></a>
    </div>
    <% include footer.ejs %>
  </body>
</html>
