<footer class="ft_hold">
  <nav class="ft_main">
    <ul>
      <li><a href="https://www.facebook.com" target="_blank"><img src="/images/Fb.png" height="60px" width="60px" class="ft_img"></a></li>
      <li><a href="https://www.instagram.com/?hl=fr" target="_blank"><img src="/images/Ints.png" height="60px" width="60px" class="ft_img"></a></li>
      <li><a href="https://discord.gg/yyvucBm" target="_blank"><img src="/images/disc.png" height="60px" width="60px" class="ft_img"></a></li>
      <li><a href="https://twitter.com/CIH_CLAN" target="_blank"><img src="/images/Yt.png" height="60px" width="60px" class="ft_img"></a></li>
    </ul>
    <h5 id="cp_rt"></h5>
  </nav>
</footer>
