<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CIH : Main Page</title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menu.ejs %>
<div class="main_cnt">
  <div class="if_des">
  <h1 id="mn_lin">Teams</h1>
</div>
  <div class="row" id="gr_mn">
  </div>
  <div class="if_des">
  <h1 id="mn_lin">Media</h1>
</div>
<div class="sm_mn">
<a class="twitter-timeline" data-width="500" data-height="500" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/CIH_CLAN?ref_src=twsrc%5Etfw">Tweets by CIH_CLAN</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<iframe src="https://discordapp.com/widget?id=392268754060443651&theme=dark" width="500" height="500" max-width ="" allowtransparency="true" frameborder="0"></iframe>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
</div>
<div id="info">
  <div class="if_des">
<h1 id="mn_lin">info</h1>

</div>
<img src="images/Logo.png" alt="" width="80px" height="80px">
  <p>welcome to CIH AKA close in t'head. CIH is a tunisian clan looking for pro gamers. Well it's just a simple clan for now but with your</p>
    <p>help we can achive our goals by making this community and this clan bigger giving us the chance to be a part of the esports. We all have</p>
    <p>the same passion so let's play together and dream big.And if you want to join the clan all you have to do is contact us by joining</p>
    <p>our discord and of course you can join us on instagram ,facebook and twitter as well just to keep in touch!</p>
  </div>
</div>
    <% include footer.ejs %>
  </body>
</html>
