<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CIH : Members</title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menu.ejs %>
    <div class="if_des">
      <h1 id="mn_lin" style="margin-left:20px;margin-bottom:20px;"><span class="trn">All Members:</span></h1>
    </div>
    <div class="mn_cp_top">
      <div class="row" id="gn_bg">
      </div>
    <% include footer.ejs %>
  </body>
</html>
