<nav class="navbar sticky-top navbar-expand-lg" id="navbar_mn">
  <a href="/home"><img class="navbar-brand" src="/images/Logo.png" width="80px" height="80px"></a>
  <div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tournaments">tournaments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/members">members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/#info">about</a>
      </li>
    </ul>
  </div>
</nav>
