<nav class="navbar sticky-top navbar-expand-lg navbar navbar-dark" id="navbar_mn">
  <a href="/home"><img class="navbar-brand" src="/images/Logo.PNG" width="80px" height="80px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home"><span class="trn">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tournaments"><span class="trn">tournaments</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/members"><span class="trn">members</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><span class="trn">contact</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/#info"><span class="trn">about</span></a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="mn_lng" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</a>
            <div class="dropdown-menu" aria-labelledby="dropdown09" id="drp_dn">
              <a class="dropdown-item" id="mn_fr_ch" href="#fr"><span class="flag-icon flag-icon-fr"> </span>  Français</a>
              <a class="dropdown-item" id="mn_eng_ch" href="#eng"><span class="flag-icon flag-icon-en"> </span> English</a>
            </div>
        </li>
    </ul>
  </div>
</nav>
