<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CIH : Tournaments</title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menu.ejs %>
    <div class="to_mn">
      <h1><span class="trn">coming soon!</span></h1>
    <div>
      <p><span class="trn">our website is under construction and our team is growing slowly</span></p>
      <p><span class="trn">so please be patient</span></p>
    </div>
      <img src="images/team.png" alt="team" width="200px" height="200px">
    </div>
    <% include footer.ejs %>
  </body>
</html>
